services:
  fileshare:
    build: .
    container_name: fileshare
    restart: unless-stopped
    ports:
      - "0.0.0.0:3000:3000"
    volumes:
      - ./uploads:/app/uploads
      - ./data:/app/data
    environment:
      - PORT=3000
      - NODE_ENV=production
      - TZ=Europe/Paris
      - TELEGRAM_ENABLED=false
      - TELEGRAM_BOT_TOKEN=
      - TELEGRAM_CHAT_ID=
    networks:
      - fileshare-network
    deploy:
      resources:
        limits:
          memory: 8G
        reservations:
          memory: 2G

networks:
  fileshare-network:
    driver: bridge
